<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Cinob Photocinema</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <div class="container">
        <a href="#" class="navbar-brand fw-bold">
          <img
            src="../static/img/logo.png"
            alt="Logo"
            width="100"
            height="auto"
            class="d-inline-block align-text-top"
        /></a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-target="#navbarNav"
          data-bs-toggle="collapse"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="" class="nav-link nav-nji text-white">Home</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link nav-nji text-white">Gallery</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link nav-nji text-white">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Banner Image -->
    <div
      class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="content text-center">
        <p class="text-white fs-3">Capture Your Moments With</p>
        <img src="../static/img/logo.png" width="300" alt="" />
      </div>
    </div>

    <!-- About -->
    <div class="container">
      <h3 class="mt-5 fw-semibold">Tentang Kami</h3>
      <p
        style="text-indent: 0.5in; text-align: justify"
        class="mt-4 d-grid gap-5"
      >
        CINOB photo cinema sudah berdiri sejak 2016 sampai saat ini dan sudah
        memiliki 2 studio photo yang berada di gobah dan di marpoyan, CINOB
        adalah singkatan dari CICI dan RINOB pasangan suami istri ini
        photographer dan videographer profesional dan sudah cukup berpengalaman
        dalam bidang photografi dan videografi terutama di dunia wedding.
      </p>
      <p
        style="text-indent: 0.5in; text-align: justify"
        class="mt-4 d-grid gap-5"
      >
        CINOB photo cinema sudah bekerjasama dengan vendors wedding pekanbaru
        yang tetap konsisten dalam dunia wedding dan juga membuka keterampilan
        untuk siswa siswi PKL tingkat SMK dengan jurusan MULTIMEDIA atau
        DKV(design komunikasi visual)
      </p>
    </div>

    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
