<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- akhir link jquery -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/cinob.png') }}"
    />
    <title>Dashboard Admin | Cinob Photocinema</title>
    <script type="">
      $(document).ready(function () {
        listing();
      });
    </script>
  </head>
  <body style="background-color: rgb(245, 245, 245)">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark warnavbar">
      <div class="container">
        <a href="/adminpanel" class="navbar-brand fw-bold">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="Logo"
            width="100"
            height="auto"
            class="d-inline-block align-text-top"
        /></a>
        <div class="justify-content-end" id="navbarNav">
          <ul class="navbar-nav" style="gap: 10px">
            <li class="nav-item">
              <a
                target="_blank"
                href="/"
                class="nav-link main-button-cinob btn px-4 rounded-pill"
                >Lihat Situs</a
              >
              
            </li>

            <li class="nav-item">
              <a
                href="/register"
                class="nav-link main-button-cinob btn px-4 rounded-pill"
                >+ Admin</a
              >
              
            </li>
           
            <!-- Tombol Log Out -->
            <li class="nav-item">
              <a
                onclick="sign_out()"
                class="nav-link logout-button-cinob btn px-4 rounded-pill"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Greeting Message -->
    <div class="container bg-white mt-3 py-4 shadow rounded">
      <div class="row">
        <div class="col">
          <h4 class="ms-3">Selamat datang, {{ user_info.username }}</h4>
        </div>
      </div>
    </div>

    <!-- Tabel Data -->
    <div class="container bg-white mt-3 mb-5 py-4 px-3 shadow rounded">
      <div class="row mt-3">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <!-- Tombol untuk mengaktifkan modal -->
          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#tambahdataModal"
          >
            + Tambah Data
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <!-- Tabel Data -->
          <table class="table text-center border mt-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Judul</th>
                <th scope="col">Foto</th>
                <th scope="col">Jenis Layout</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody id="cards-box"></tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal tambah data -->
    <div
      class="modal fade"
      id="tambahdataModal"
      tabindex="-1"
      aria-labelledby="tambahdataModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="tambahdataModal">Tambah Data</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Input Judul -->
            <div class="mb-3">
              <label for="judul" class="form-label">Judul</label>
              <input
                type="text"
                class="form-control"
                id="input-title"
                autocomplete="off"
              />
            </div>

            <!-- Input Gambar -->
            <div class="mb-3">
              <label for="foto" class="form-label">Foto</label>
              <input class="form-control" type="file" id="input-file" />
            </div>
            <p class="text-body-tertiary footnote">
              *Input gambar untuk banner
            </p>

            <!-- input dropdown -->
            <div class="form-group">
              <label for="layout-select">Jenis Layout</label>
              <select class="form-control" id="layout-select">
                <option value="">Pilih</option>
                <option value="8">Landscape</option>
                <option value="4">Potrait</option>
                <option value="12">Full Landscape</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" onclick="posting()">
              Simpan Perubahan
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Edit Data -->
    <div
      class="modal fade"
      id="editdataDetail"
      tabindex="-1"
      aria-labelledby="editdataDetail"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editdataModal">Edit Data</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Input Judul -->
            <div class="mb-3">
              <label for="judul" class="form-label">Judul</label>
              <input
                type="text"
                class="form-control"
                id="input-title-edit"
                autocomplete="off"
              />
            </div>

            <!-- Input Gambar -->
            <div class="mb-3">
              <label for="foto" class="form-label">Foto</label>
              <input class="form-control" type="file" id="input-file-edit" />
            </div>
            <p class="text-body-tertiary footnote">
              *Ganti gambar jika terjadi kesalahan
            </p>

            <!-- input dropdown -->
            <div class="form-group">
              <label for="layout-select">Jenis Layout</label>
              <select class="form-control" id="layout-select-edit">
                <option value="">Pilih</option>
                <option value="12">Penuh Baris landscape</option>
                <option value="6">Setengah Baris landscape</option>
                <option value="4">Sepertiga Baris atau setengah</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-dark"
              id="update-post-button"
              onclick="updatePost(num)"
            >
              Simpan Perubahan
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal tambah Admin -->


    <!-- Script -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
