<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- akhir link jquery -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/cinob.png') }}"
    />
    <title>Detail {{ post.title }} | Admin</title>
    <script type="">
      let num = {{ post.num }};

      $(document).ready(function () {
        detail_post(num)
      });
    </script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark warnavbar">
      <div class="container">
        <a href="/adminpanel" class="navbar-brand fw-bold">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="Logo"
            width="100"
            height="auto"
            class="d-inline-block align-text-top"
        /></a>
        <div class="justify-content-end" id="navbarNav">
          <ul class="navbar-nav" style="gap: 10px">
            <li class="nav-item">
              <a
                href="/"
                class="nav-link main-button-cinob btn px-4 rounded-pill"
                >Lihat Situs</a
              >
            </li>

            <!-- Tombol Log Out -->
            <li class="nav-item">
              <a
                onclick="sign_out()"
                class="nav-link logout-button-cinob btn px-4 rounded-pill"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/adminpanel" class="bread-item">Admin</a>
        </li>
        <li class="breadcrumb-item active fw-semibold" aria-current="page">
          {{ post.title }}
        </li>
      </ol>
    </div>

    <!-- tulis kode dari sini -->
    <div class="container">
      <!-- div ini untuk testing aja, jika tidak dipake hapus aja sesuai keperluan -->
      <h4>Folder dari <b>{{ post.title }}</b></h4>
      <div class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-dark mt-3 ms-auto"
          data-bs-toggle="modal"
          data-bs-target="#tambahdataDetail"
        >
          + Tambah Data
        </button>
      </div>
      <div class="row mt-3">
        <div class="col">
          <!-- Tabel Data -->
          <table class="table text-center border mt-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Judul</th>
                <th scope="col">Foto</th>
                <th scope="col">Jenis Layout</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tr>
              <td>{{ post.num }}</td>
              <td>{{ post.title }}</td>
              <td>
                <img
                  src="{{ url_for('static', filename=post.file) }}"
                  class="img-fluid data-foto"
                />
              </td>
              <td>{{ post.layout }}</td>
              <td>
                <button class="btn btn-primary">Tidak ada aksi</button>
              </td>
            </tr>
            <tbody id="cards-box">
              <!-- disini -->
              {% set count = 2 %} {% for item in post_detail %}
              <tr>
                <td>{{ count }}</td>
                <td>{{ item.title }}</td>
                <td>
                  <img
                    src="/static/{{item.file}}"
                    class="img-fluid data-foto"
                  />
                </td>
                <td>{{item.layout}}</td>
                <td>
                  <button
                    class="btn btn-danger"
                    onclick="deletePost_detail({{ item.num }})"
                  >
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </td>
              </tr>
              {% set count = count + 1 %} {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal Tambah Data -->
    <div
      class="modal fade"
      id="tambahdataDetail"
      tabindex="-1"
      aria-labelledby="tambahdataDetail"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="tambahdataModal">Tambah Data</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Input Judul -->
            <div class="mb-3">
              <label for="judul" class="form-label">Judul</label>
              <input
                type="text"
                class="form-control"
                id="input-title-detail"
                autocomplete="off"
              />
            </div>
            <p class="text-body-tertiary footnote">*Contoh Judul: detail-1</p>

            <!-- Input Gambar -->
            <div class="mb-3">
              <label for="foto" class="form-label">Foto</label>
              <input class="form-control" type="file" id="input-file-detail" />
            </div>
            <p class="text-body-tertiary footnote">
              *Input gambar detail lebih banyak
            </p>

            <!-- input dropdown -->
            <div class="form-group">
              <label for="layout-select">Jenis Layout</label>
              <select class="form-control" id="layout-select-detail">
                <option value="">Pilih</option>
                <option value="12">Penuh Baris landscape</option>
                <option value="6">Setengah Baris landscape</option>
                <option value="4">Sepertiga Baris atau setengah</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-dark"
              onclick="detail_posting(num)"
            >
              Simpan Perubahan
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
