<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/cinob.png') }}"
    />
    <title>FAQ's | Cinob Photocinema</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark warnavbar">
      <div class="container">
        <a href="/" class="navbar-brand fw-bold">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="Logo"
            width="100"
            height="auto"
            class="d-inline-block align-text-top"
        /></a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-target="#navbarNav"
          data-bs-toggle="collapse"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link nav-nji text-white">Home</a>
            </li>
            <li class="nav-item">
              <a href="/gallery" class="nav-link nav-nji text-white">Gallery</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link nav-nji text-white"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="bread-item">Home</a></li>
        <li class="breadcrumb-item active fw-semibold" aria-current="page">
          FAQ's
        </li>
      </ol>

      <!-- Accordion FAQ -->
      <div class="accordion mt-5" id="faq-accordion">
        <!-- Questions 1 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq1"
              aria-expanded="false"
              aria-controls="faq1"
            >
              Apa saja jasa yang ditawarkan?
            </button>
          </h2>
          <div
            id="faq1"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Kami menawarkan jasa pemotretan Prewed, lamaran, pernikahan,
              wisuda, pesta ulang tahun, dan acara besar lainnya. kami juga
              menyediakan layanan pemotretan produk dan company profile. Kami juga menyediakan MC untuk acara formal dan non formal. 
            </div>
          </div>
        </div>

        <!-- Questions 2 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq2"
              aria-expanded="false"
              aria-controls="faq2"
            >
              Dimana lokasi studio fotonya?
            </button>
          </h2>
          <div
            id="faq2"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Kami memiliki dua studio foto, satu berlokasi di Marpoyan dan yang
              lainnya berada di Gobah.
            </div>
          </div>
        </div>

        <!-- Questions 3 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq3"
              aria-expanded="false"
              aria-controls="faq3"
            >
              Kenapa tidak ada daftar harga di website ini?
            </button>
          </h2>
          <div
            id="faq3"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Kami berfokus pada kualitas layanan daripada hanya berbicara
              tentang harga. Dengan berbicara langsung dengan Anda, kami dapat
              memahami lebih baik apa yang Anda butuhkan dan menyusun penawaran
              yang menghasilkan hasil terbaik untuk Anda.
            </div>
          </div>
        </div>

        <!-- Questions 4 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq4"
              aria-expanded="false"
              aria-controls="faq4"
            >
              Bagaimana cara kami melakukan pemesanan?
            </button>
          </h2>
          <div
            id="faq4"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Anda dapat mengkontak kami di nomor Whatsapp yang tersedia atau
              mengirim surel ke alamat email yang dicantumkan
            </div>
          </div>
        </div>

        <!-- Questions 5 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq5"
              aria-expanded="false"
              aria-controls="faq5"
            >
              Apakah ada DP?
            </button>
          </h2>
          <div
            id="faq5"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">Iya, Ada</div>
          </div>
        </div>

        <!-- Questions 6 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq6"
              aria-expanded="false"
              aria-controls="faq6"
            >
              Berapa DP yang harus kami bayarkan?
            </button>
          </h2>
          <div
            id="faq6"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Anda harus membayar DP sebesar 20%, setelah melakukan pembayaran,
              kita akan berbicara lebih lanjut tentang jadwal pemotretan.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faqa"
              aria-expanded="false"
              aria-controls="faqa"
            >
              Apakah anda menyediakan make up, dekorasi, dan baju untuk pemotretan.
            </button>
          </h2>
          <div
            id="faqa"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Benar, kami meyediakan jasa make up, dekorasi, dan baju untuk pemotretan di studio
            </div>
          </div>
        </div>


        <!-- Questions 7 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq7"
              aria-expanded="false"
              aria-controls="faq7"
            >
              Apakah Anda menggunakan format RAW?
            </button>
          </h2>
          <div
            id="faq7"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Ya, RAW dan JPEG. Format RAW memungkinkan kami untuk mendapatkan kualitas
              terbaik dan detail gambar saat kami memproses foto dan
              menyajikannya dalam format JPEG.
            </div>
          </div>
        </div>

        <!-- Questions 8 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq8"
              aria-expanded="false"
              aria-controls="faq8"
            >
              Apakah kami mendapatkan semua foto?
            </button>
          </h2>
          <div
            id="faq8"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Benar,semua foto kami berikan melalui google drive.
            </div>
          </div>
        </div>

        <!-- Questions 9 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq9"
              aria-expanded="false"
              aria-controls="faq9"
            >
              Apakah kami mendapatkan album?
            </button>
          </h2>
          <div
            id="faq9"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Benar, album yang sudah tersusun rapi.
            </div>
          </div>
        </div>

        <!-- Questions 10 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq10"
              aria-expanded="false"
              aria-controls="faq10"
            >
              Berapa banyak foto yang Anda ambil?
            </button>
          </h2>
          <div
            id="faq10"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Sesuai dengan jam kerja yang diambil.
            </div>
          </div>
        </div>

        <!-- Questions 11 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq11"
              aria-expanded="false"
              aria-controls="faq11"
            >
              Apakah kami bisa mengunggah foto-foto tersebut?
            </button>
          </h2>
          <div
            id="faq11"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Tentu, foto yang kami berikan adalah hak untuk konsumen.
            </div>
          </div>
        </div>

        <!-- Questions 12 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq12"
              aria-expanded="false"
              aria-controls="faq12"
            >
              Apakah kami bisa mencetak foto-foto tersebut?
            </button>
          </h2>
          <div
            id="faq12"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Biasanya kami akan mencetak 100 foto pilihan konsumen di dalam satu album dan satu foto 20R dengan bingkai.
            </div>
          </div>
        </div>

        <!-- Questions 13 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed fw-semibold"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq13"
              aria-expanded="false"
              aria-controls="faq13"
            >
              Apakah Anda selalu mengunggah foto-foto klien Anda?
            </button>
          </h2>
          <div
            id="faq13"
            class="accordion-collapse collapse"
            data-bs-parent="#faq-accordion"
          >
            <div class="accordion-body">
              Kami selalu mengunggah foto-foto klien kami di instagram dan
              halaman Facebook kami. Kami tidak akan mengunggah foto Anda jika
              Anda meminta kami untuk tidak melakukannya.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid mt-5 bg-black">
      <div class="container text-white py-3">
        <div class="row">
          <div class="col-md-4">
            <img
              class="img-fluid mb-2 mt-3"
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt=""
              height="100%"
            />
            <p class="mb-2">
              CINOB photo cinema sudah berdiri sejak 2016 sampai saat ini dan
              sudah memiliki 2 studio photo yang berada di gobah dan di
              marpoyan... <a href="" class="lengkap fw-medium">Selengkapnya</a>
            </p>
          </div>
          <div class="col-md-5 ps-5">
            <h5 class="mt-5">Studio Marpoyan</h5>
            <p class="mb-4">
              Jl. Gading Marpoyan Raya, Kubang Jaya, Riau 28284
            </p>
            <h5 class="mt-5">Studio Gobah</h5>
            <p>Jl. Abdul Muis No.17, Kota Pekanbaru, Riau 28127</p>
          </div>
          <div class="col-md-3 ps-5">
            <h5 class="mt-5">Ikuti Kami</h5>
            <a href="https://www.facebook.com/alfatih.nofetra?mibextid=ZbWKwL" class="text-white fs-4 me-3"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="https://instagram.com/cinob.photocinema?igshid=NzZhOTFlYzFmZQ==" class="text-white fs-4 me-3"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="#" class="text-white fs-4"
              ><i class="bi bi-youtube"></i
            ></a>

            <ul class="mt-4 footer-list">
              <li><a href="/">Home</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/faq">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-blacki text-center text-white pt-3 pb-2">
      <p>
        Copyright &copy; 2023
        <b><a href="/team" class="ragdoll-tag">Ragdoll Group</a></b>
      </p>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
